
html,
body
{
    overflow: hidden;
    background-color: #efe3db;
    margin: 0;
    padding: 0;
}

.webgl {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    right: auto;
    bottom: auto;
    z-index: 10;
    color: #e54848;
  }
